@font-face {
  font-family: 'SF Pro Display', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: local("SF Pro Display"), url("../fonts/SF-Pro-Display-Regular.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }
@font-face {
  font-family: 'SF Pro Display 700';
  font-style: normal;
  font-weight: 700;
  src: local("SF Pro Display"), url("../fonts/SF-Pro-Display-Bold.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }
body {
  font-family: 'SF Pro Display', sans-serif; }
  body.no-scroll {
    overflow: hidden; }

.btn.focus, .btn:focus, .form-control:focus, button:focus {
  outline: 0;
  box-shadow: none; }

.transition, a, a:hover, .button, .contentAMP .content .settingLeft ul .active, .contentAMP .content .settingLeft ul li, .contentAMP .content .settingLeft .setting .btnAddItem, .contentAMP .pages .button3, .contentAMP .pages .input_block .button1 {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

a, a:hover, .button {
  text-decoration: none; }

@media (max-width: 767px) {
  h1 {
    font-size: 26px !important; } }

.contentAMP .content {
  background: #f3f3f3; }
  @media (min-width: 992px) {
    .contentAMP .content {
      height: unset;
      padding: 0 30px; } }
  .contentAMP .content .settingLeft {
    position: relative;
    padding-top: 40px;
    padding-bottom: 10px;
    float: left;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end; }
    .contentAMP .content .settingLeft ul {
      list-style-type: none;
      padding: 0;
      margin: 0; }
      .contentAMP .content .settingLeft ul .active {
        color: #0290ff !important;
        position: relative; }
        .contentAMP .content .settingLeft ul .active:before {
          content: "";
          border-bottom: 1px solid #0290ff;
          position: absolute;
          top: 33px;
          display: block;
          width: 100%;
          left: 0; }
          @media (max-width: 571px) {
            .contentAMP .content .settingLeft ul .active:before {
              display: none; } }
        .contentAMP .content .settingLeft ul .active a {
          color: #0290ff !important; }
        .contentAMP .content .settingLeft ul .active i {
          color: #0290ff !important; }
      .contentAMP .content .settingLeft ul li {
        color: #707A83;
        font-size: 16px;
        cursor: pointer;
        float: left;
        margin-right: 20px;
        position: relative;
        font-weight: 200; }
        .contentAMP .content .settingLeft ul li:hover {
          color: #0290ff !important; }
          .contentAMP .content .settingLeft ul li:hover:before {
            content: "";
            border-bottom: 1px solid #0290ff;
            position: absolute;
            top: 33px;
            display: block;
            width: 100%;
            left: 0; }
            @media (max-width: 406px) {
              .contentAMP .content .settingLeft ul li:hover:before {
                top: 23px; } }
        .contentAMP .content .settingLeft ul li i {
          margin-right: 10px; }
        .contentAMP .content .settingLeft ul li a {
          color: #707A83; }
          .contentAMP .content .settingLeft ul li a:hover {
            color: #0290ff !important; }
    .contentAMP .content .settingLeft .setting .btnAddItem {
      color: #FFF;
      font-size: 14px;
      background: #eba721;
      padding: 9px 27px;
      border-radius: 0;
      float: right;
      clear: both;
      position: relative;
      top: 0; }
      .contentAMP .content .settingLeft .setting .btnAddItem:hover {
        opacity: 0.8;
        top: 3px; }
.contentAMP .pages {
  margin-top: 30px; }
  .contentAMP .pages .pad-no {
    padding: 0; }
  .contentAMP .pages .section {
    margin-bottom: 20px;
    background: #fff; }
    .contentAMP .pages .section .pad {
      padding: 0 15px; }
    .contentAMP .pages .section .listing {
      padding-left: 15px;
      margin: 0; }
      .contentAMP .pages .section .listing li {
        color: rgba(69, 70, 75, 0.8);
        font-size: 13px;
        margin: 20px 0; }
    .contentAMP .pages .section .title-wallet {
      background-color: #f3f3f3; }
    .contentAMP .pages .section .title {
      padding-top: 16px; }
      .contentAMP .pages .section .title h4 {
        color: #4D6483;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.5px;
        margin: 0;
        padding: 16px 0; }
    .contentAMP .pages .section .text {
      font-size: 14px;
      color: #45464B;
      font-weight: 500;
      padding: 20px 0; }
  .contentAMP .pages .button3 {
    background-color: #eba721;
    color: #FFF;
    font-size: 14px;
    outline: 0;
    border: none;
    padding: 20px 8px;
    display: block;
    width: 100%;
    text-align: center;
    float: left; }
    .contentAMP .pages .button3 i {
      color: #FFF;
      margin-left: 5px; }
    .contentAMP .pages .button3:hover {
      opacity: .7; }
  .contentAMP .pages .textBlue {
    color: #0290FF;
    font-size: 15px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 0; }
  .contentAMP .pages .input_block .form-group {
    margin-bottom: 0;
    display: flex; }
  .contentAMP .pages .input_block input.def {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-size: 13px;
    color: #45464B;
    float: left;
    border: 1px solid #C9D0D9; }
  .contentAMP .pages .input_block input.Token_active {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-size: 13px;
    color: #45464B;
    float: left;
    border: 1px solid #C9D0D9;
    background-color: #fff; }
  .contentAMP .pages .input_block .button1 {
    border: 1px solid #CFD6DF;
    background-color: #E7EFF7;
    color: #8A96A0;
    font-size: 14px;
    outline: 0;
    padding: 11px 12px;
    display: block;
    margin-bottom: 0;
    width: 115px; }
    .contentAMP .pages .input_block .button1 i {
      margin-right: 5px; }
    .contentAMP .pages .input_block .button1:hover {
      opacity: .7; }

/*# sourceMappingURL=account-my-ballance.css.map */
