// fonts
@font-face {
  font-family: 'SF Pro Display', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: local('SF Pro Display'), url('../fonts/SF-Pro-Display-Regular.woff') format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'SF Pro Display 700';
  font-style: normal;
  font-weight: 700;
  src: local('SF Pro Display'), url('../fonts/SF-Pro-Display-Bold.woff') format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
// fonts

// variables
$white: #FFF;
$black: #000;
$main-default: #2B2B2B;
$nav-color: #313131;
$main-yellow: rgb(235, 167, 33);

// variables

// general
body {
  font-family: 'SF Pro Display', sans-serif;
  &.no-scroll {
    overflow: hidden;
  }
}

.btn.focus, .btn:focus, .form-control:focus, button:focus{
  outline: 0;
  box-shadow: none;
}
.transition{
  -webkit-transition: all 0.5s;
  -moz-transition:  all 0.5s;
  -ms-transition:  all 0.5s;
  -o-transition:  all 0.5s;
  transition:  all 0.5s;
}
a, a:hover, .button {
  @extend .transition;
  text-decoration: none;
}
h1 {
  @media (max-width: 767px) {
    font-size: 26px !important;
  }
}


.contentAMP {

  .content{
    background: #f3f3f3;
    @media(min-width: 992px){
      height: unset;
      padding: 0 30px;
    }
    .settingLeft{
      position: relative;
      padding-top: 40px;
      padding-bottom: 10px;
      width: 100%;
      .input_block{
        .form-group{
          margin-bottom: 0;
          display: flex;
          position: relative;

          .fa-search{
            color: #b1bac1;
            font-size: 18px;
            position: absolute;
            left: 12px;
            top: 12px;
          }
        }
        .dropdown-menu{
          min-width: 200px;
        }
        input.Token_active{
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          border-radius: 0;
          font-size: 13px;
          height: 42px;
          color: #707A83;
          float: left;
          border: 1px solid #C3CDD5;
          padding-left: 40px;
        }
        .selectWrapper {
          color: rgba(77, 77, 77, 0.44);
          width: 100%;
          overflow: hidden;
          position: relative;
          font-size:14px;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          border:none;
          background:none;
          &:after{
            display: inline-block;
            width: 0;
            height: 0;
            margin-left: .255em;
            vertical-align: .255em;
            content: "";
            border-top: .4em solid;
            border-right: .4em solid transparent;
            border-bottom: 0;
            border-left: .4em solid transparent;
            position: absolute;
            right: 5px;
            top:14px;
          }
          select {
            position: relative;
            padding: .375rem .75rem;
            font-size:12px;
            line-height: 21px;
            width: 100%;
            border: 1px solid rgba(13,50,93,0.2);
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            background: #fff;
            height: 30px;
            min-width: 150px;
            box-shadow: none;
            background-image: none;
            -webkit-appearance: none;
            outline: none;
            cursor: pointer;
            -moz-appearance: none;
            text-indent: 0.01px;
            text-overflow: ellipsis;
            color: #4D6483;

          }
        }
        .footer-dropdown{
          display: flex;
          justify-content: center;
          align-items: center;
          button:first-child{
            color:#8A96A0;
            font-size: 14px;
            border:none;
            @extend .transition;
            &:hover{
              opacity: .8;
            }
          }
          button:nth-child(2){
            color: $main-yellow;
            font-size: 14px;
            border:none;
            @extend .transition;
            &:hover{
              opacity: .8;
            }
          }
        }
        .form-group-dropdown{
          padding: 15px;

          label{
            color:#313131;
            font-size: 12px;
            font-weight: 500;

          }
          input{
            color: rgba(77, 77, 77, 0.44);
            font-size:12px;
            border: 1px solid rgba(13,50,93,0.2);
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            background: #fff;
            height: 30px;
            min-width: 150px;
          }
        }
        .button1::after{
          display: none;
        }
        .button1{
          border: 1px solid #C3CDD5;
          background-color: #ECF7FF;
          font-size: 14px;
          outline: 0;
          padding: 11px 12px;
          display: block;
          margin-bottom: 0;
          width: 115px;
          height: 42px;
          color: #0290FF;
          cursor: pointer;
          @extend .transition;
          &:hover{
            opacity: .8;
          }
          i{
            color: #0290FF;
            font-size: 18px;
            margin-left: 10px;
          }
        }

      }
    }
  }
  .dataTables_length{
    display: none;
  }
  #dataTable_filter{
    margin: 20px 0;
    label{
      color: #707A83;
      font-size: 16px;
      cursor: pointer;
      font-weight: 200;
      input{
        border: 1px solid #dadada;
        margin-left: 10px;
        border-radius: 2px;
        &:focus{
          border-color: $main-yellow;
          box-shadow: none;
          outline: 0;
        }
      }
    }
  }
  .dataTables_paginate{
    margin-bottom: 20px;
    a{
      color: black;
      margin-right: 10px;
      cursor: pointer;
    }
  }
  .table{
    border:none;
    margin: 30px 0;
    overflow: auto;
    tbody{
      tr{
        background: #fff;
        border-bottom: 4px solid #f3f3f3;
        transition: all .3s ease-in-out;
        &:hover{
          -webkit-transform: scale(1.01);
          -moz-transform: scale(1.01);
          -ms-transform: scale(1.01);
          -o-transform: scale(1.01);
          transform: scale(1.01);
          -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
          -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
        }
      }
    }
    .aveilabe{
      span{
        color: #7ED321 !important;
        width: 70px;
        height: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(126, 211, 33, 0.22) !important;
      }
    }
    .lost{
      span{
        color: $main-yellow !important;
        width: 70px;
        height: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
        background:rgba(235, 167, 33, 0.23) !important ;
      }
    }
    .stolen{
      span{
        color:red!important;
        width: 70px;
        height: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(255, 0, 0, 0.23) !important;
      }
    }
    th{
      color: #919191;
      font-weight: 100;
    }
    tr{
      background: #fff;
      border-bottom: 4px solid #f3f3f3;

      td{
        font-size: 12px;
        color: #2E2E2E;
        padding: 15px 10px 10px 10px;
        padding-bottom: 3px;
        .report{
          color: #4D6483;
          font-size: 12px;
          background-color: #F5F7F8;
          border: 1px solid #C9D0D9;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          border-radius: 4px;
          display: flex;
          justify-content: center;
          align-items: center;
          float: left;
          margin-right: 30px;
          @extend .transition;
          &:hover{
            opacity: 0.8;
          }
        }
        .border-none{
          color: #4D6483;
          font-size: 12px;
          background-color: #F5F7F8;
          border: none;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          border-radius: 4px;
          display: flex;
          justify-content: center;
          align-items: center;
          float: left;
          margin-right: 30px;
          @extend .transition;
          &:hover{
            opacity: 0.8;
          }
        }
      }
    }
    .menudropdown{
      color: #9E9E9E;
      font-size: 21px;
      cursor: pointer;
      display: flex;
    }
    .drop{
      .dropdown-menu{
        min-width: 8rem;
      }
      a{
        color: #4D6483;
        font-size: 12px;
        cursor: pointer;
        @extend .transition;
        &:hover{
          color:red;
        }
        i{
          margin-right: 5px;
        }
      }
    }
    .activeSelect select{
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      font-size: 14px;
      height: 20px;
      max-width: max-content;
      color: #707A83;
      font-weight: 100;
      border: none!important;
      background: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      padding: 0;
      display: flex;
      align-items: flex-end;
      background-repeat: no-repeat;
      background-position: right center;
      padding-right: 25px;
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20fill%3D%22%23555555%22%20%0A%09%20width%3D%2224px%22%20height%3D%2224px%22%20viewBox%3D%22-261%20145.2%2024%2024%22%20style%3D%22enable-background%3Anew%20-261%20145.2%2024%2024%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cpath%20d%3D%22M-245.3%2C156.1l-3.6-6.5l-3.7%2C6.5%20M-252.7%2C159l3.7%2C6.5l3.6-6.5%22%2F%3E%0A%3C%2Fsvg%3E");

    }
  }
  .section{

    .headTr{
      background-color: #f3f3f3;
      th{
        color: #707A83;
        font-weight: 100;
        font-size: 14px;
        border: none;
      }
    }
  }
}
.modal-backdrop{
  z-index: 99998;
}
.modalAddItem{
  z-index: 99999;
  .input_block{
    .form-group{
      position: relative;
    }
    input.active:focus, .activeSelect:focus{
      border-color:$main-yellow;
    }
    .activeSelect{
      select{
        border:none!important;
        font-size: 13px;
      }
    }
    input.active, .activeSelect{
      opacity: 0.5;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      font-size: 13px;
      height: 42px;
      max-width: 378px;
      border: 1px solid #737373;
    }
    label.active{
      color: #313131;
      font-size: 15px;
      font-weight: bold;
    }

    .upDate{
      color: $white;
      background: $main-yellow;
      text-align: center;
      height: 42px;
      max-width: 378px;
      font-size: 14px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      @extend .transition;
      &:hover{
        opacity: 0.8;
      }
    }
  }
  .modal-dialog{
    @media (min-width: 576px){
      max-width: 400px;
      margin: 1.75rem auto;
    }

  }

}
//modal
.setting{
  .btnAddItem{
    color:$white;
    font-size: 14px;
    background: $main-yellow;
    padding: 9px 27px;
    border-radius: 0;
    float: right;
    clear: both;
    position: relative;
    top:0;
    @extend .transition;
    &:hover{
      opacity: 0.8;
      top:3px;
    }
  }
}
.modalAddItem{
  z-index: 99999;
  .modal-backdrop{
    z-index: 99998;
  }

  .modal-content{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
  .input_block{
    .form-group{
      position: relative;
      display: flex;
      .btnCopy{
        color:$white;
        background: #0290FF;
        font-size: 12px;
        height: 42px;
        width: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        border:1px solid #0290FF;
        @extend .transition;
        &:hover{
          opacity: 0.7;
        }
        i{
          margin-right: 5px;
        }
      }
    }
    input.active:focus{
      border-color:#0290FF;
    }
    input.active{
      opacity: 0.5;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      font-size: 13px;
      height: 42px;
      border: 1px solid #737373;
    }
    label.active{
      color: #313131;
      font-size: 15px;
      font-weight: bold;
    }

    .upDate{
      color: $white;
      text-align: center;
      height: 60px;
      font-size: 14px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $main-yellow;
      border-radius: 8px;
      @extend .transition;
      &:hover{
        opacity: 0.8;
      }
    }
  }
  .modal-dialog{
    .modal-body{
      padding: 2rem;
    }
    .logo{
      text-align: center;
      margin-bottom: 30px;
      margin-top: 20px;
      img{
        width: 106px;
      }
    }
    .title{
      margin-bottom: 20px;
      p{
        font-size: 26px;
        text-align: center;
        color: rgba(172, 170, 168, 0.78);
        font-weight: 100;
        text-transform: uppercase;
        span{
          font-weight: bold;
          color:#0290FF;
          margin-left: 15px;
        }
      }
    }
    .barCode{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
      img{
        width: 192px;
        height: 192px;
      }
    }
    @media (min-width: 576px){
      margin: 1.75rem auto;
    }

  }

}

.modalRewards{
  z-index: 99999;
  .modal-backdrop{
    z-index: 99998;
  }
  .modal-content{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    .rewards{
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      li{
        font-size: 12px;
        background-color: rgba(185, 185, 185, 0.25);
        -webkit-border-radius: 18px;
        -moz-border-radius: 18px;
        border-radius: 18px;
        width: 60px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 12px;
        cursor: pointer;
        a{
          text-decoration: none;
          color: rgba(17, 17, 17, 0.46);

        }
      }
    }
  }
  .input_block{
    .form-group{
      position: relative;
      .s4fe{
        font-size: 12px;
        color: #0290FF;
        position: absolute;
        right: 12px;
        top: 12px;
      }
    }
    input.active:focus{
      border-color:#0290FF;
    }
    input.active{
      opacity: 0.5;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      font-size: 13px;
      height: 42px;
      border: 1px solid #737373;
    }
    label.active{
      color: #313131;
      font-size: 15px;
      font-weight: bold;
    }

    .upDate{
      color: $white;
      text-align: center;
      height: 60px;
      font-size: 14px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #0290FF;
      border-radius: 8px;
      @extend .transition;
      &:hover{
        opacity: 0.8;
      }
    }
  }
  .modal-dialog{
    .modal-body{
      padding: 2rem;
      .content{
        padding: 2rem;
      }
    }
    .logo{
      text-align: center;
      margin-bottom: 30px;
      margin-top: 20px;
      img{
        width: 106px;
      }
    }
    .title{
      p{
        font-size: 16px;
        text-align: center;
        color: rgb(0, 0, 0);
        font-weight: 100;
        text-transform: uppercase;
        margin-bottom: 30px;
      }
    } .titleSecond{
        p{
          font-size: 16px;
          text-align: center;
          color: rgba(17, 17, 17, 0.5);
          font-weight: 100;
          text-transform: uppercase;
          margin-bottom: 30px;
        }
      }

    @media (min-width: 576px){
      margin: 1.75rem auto;
    }

  }

}

//modal