@font-face {
  font-family: 'SF Pro Display', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: local("SF Pro Display"), url("../fonts/SF-Pro-Display-Regular.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }
@font-face {
  font-family: 'SF Pro Display 700';
  font-style: normal;
  font-weight: 700;
  src: local("SF Pro Display"), url("../fonts/SF-Pro-Display-Bold.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }
@font-face {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  src: local("SF Pro Display"), url("../fonts/SF-Pro-Display-Bold.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }
body {
  font-family: 'SF Pro Display', sans-serif; }
  body.no-scroll {
    overflow: hidden; }

.btn.focus, .form-control:focus, button:focus {
  outline: 0;
  box-shadow: none; }

.transition, a, a:hover, .button, .contentAMP .content .settingLeft .setting .btnAddItem {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

a, a:hover, .button {
  text-decoration: none; }

@media (max-width: 767px) {
  h1 {
    font-size: 26px !important; } }

.contentAMP .content {
  background: #f3f3f3; }
  @media (min-width: 992px) {
    .contentAMP .content {
      height: unset;
      padding: 0 30px; } }
  .contentAMP .content .settingLeft {
    position: relative;
    padding-top: 40px;
    padding-bottom: 10px;
    float: left;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end; }
    .contentAMP .content .settingLeft .title {
      position: relative;
      margin: 0; }
      .contentAMP .content .settingLeft .title img {
        position: absolute;
        left: 5px;
        top: 3px;
        width: 16px; }
      .contentAMP .content .settingLeft .title span {
        width: 100%;
        padding-left: 30px;
        color: #0290ff;
        font-weight: 100;
        font-size: 16px; }
    .contentAMP .content .settingLeft .setting .btnAddItem {
      color: #FFF;
      font-size: 14px;
      background: #eba721;
      padding: 9px 27px;
      border-radius: 0;
      float: right;
      clear: both;
      position: relative;
      top: 0; }
      .contentAMP .content .settingLeft .setting .btnAddItem:hover {
        opacity: 0.8;
        top: 3px; }
  .contentAMP .content .editText {
    padding-top: 30px; }
    .contentAMP .content .editText .form-group label {
      color: #313131;
      font-size: 12px;
      font-weight: 500; }
    .contentAMP .content .editText .form-group input {
      color: rgba(77, 77, 77, 0.44);
      font-size: 14px;
      border: 1px solid rgba(13, 50, 93, 0.2);
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      background: #fff;
      height: 42px; }
    .contentAMP .content .editText .upLoad {
      border: none !important; }
      .contentAMP .content .editText .upLoad .file-caption-main .file-caption {
        display: none; }
      .contentAMP .content .editText .upLoad .file-caption-main .fileinput-remove {
        font-size: 15px;
        font-weight: 100;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0; }
      .contentAMP .content .editText .upLoad .file-caption-main .btn-file {
        font-size: 15px;
        font-weight: 100;
        background: #eba721;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        border-color: #eba721; }
        .contentAMP .content .editText .upLoad .file-caption-main .btn-file:focus {
          outline: 0; }
    .contentAMP .content .editText .textArea {
      border: none !important; }
      .contentAMP .content .editText .textArea textarea {
        border: 1px solid #C3CDD5;
        resize: none;
        overflow: scroll;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0; }
        .contentAMP .content .editText .textArea textarea:focus {
          outline: 0;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none; }
    .contentAMP .content .editText .selectWrapper {
      color: rgba(77, 77, 77, 0.44);
      width: 100%;
      overflow: hidden;
      position: relative;
      font-size: 14px;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border: none;
      background: none; }
      .contentAMP .content .editText .selectWrapper:after {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: .255em;
        vertical-align: .255em;
        content: "";
        border-top: .4em solid;
        border-right: .4em solid transparent;
        border-bottom: 0;
        border-left: .4em solid transparent;
        position: absolute;
        right: 5px;
        top: 20px; }
      .contentAMP .content .editText .selectWrapper select {
        position: relative;
        padding: .375rem .75rem;
        font-size: 14px;
        line-height: 21px;
        width: 100%;
        border: 1px solid rgba(13, 50, 93, 0.2);
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        background: #fff;
        height: 42px;
        box-shadow: none;
        background-image: none;
        -webkit-appearance: none;
        outline: none;
        cursor: pointer;
        -moz-appearance: none;
        text-indent: 0.01px;
        text-overflow: ellipsis;
        color: #4D6483; }
    .contentAMP .content .editText .datapicker {
      color: rgba(77, 77, 77, 0.44);
      width: 100%;
      overflow: hidden;
      position: relative;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border: none;
      background: none; }
      .contentAMP .content .editText .datapicker:after {
        margin-left: .255em;
        vertical-align: .255em;
        content: "\f073";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        position: absolute;
        right: 1px;
        top: 1px;
        width: 41px;
        height: 40px;
        background-color: #E7EFF7;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 17px; }
      .contentAMP .content .editText .datapicker select {
        position: relative;
        padding: .375rem .75rem;
        padding-left: 0;
        font-size: 14px;
        line-height: 21px;
        width: 100%;
        border: none;
        box-shadow: none;
        background: transparent;
        background-image: none;
        -webkit-appearance: none;
        outline: none;
        cursor: pointer;
        -moz-appearance: none;
        text-indent: 0.01px;
        text-overflow: ellipsis;
        color: rgba(77, 77, 77, 0.44); }
    .contentAMP .content .editText .card {
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      max-width: 230px;
      margin-bottom: 20px; }
      .contentAMP .content .editText .card .card-body {
        padding: 1rem; }
        .contentAMP .content .editText .card .card-body p {
          margin: 0;
          font-size: 15px; }
          .contentAMP .content .editText .card .card-body p span {
            font-size: 14px;
            color: #a29c9c; }

/*# sourceMappingURL=s4fe-Edit-Account.css.map */
