// fonts
@font-face {
  font-family: 'SF Pro Display', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: local('SF Pro Display'), url('../fonts/SF-Pro-Display-Regular.woff') format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'SF Pro Display 700';
  font-style: normal;
  font-weight: 700;
  src: local('SF Pro Display'), url('../fonts/SF-Pro-Display-Bold.woff') format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
// fonts

// variables
$white: #FFF;
$black: #000;
$main-default: #2B2B2B;
$nav-color: #313131;
$main-yellow: rgb(235, 167, 33);

// variables

// general
body {
  font-family: 'SF Pro Display', sans-serif;
  &.no-scroll {
    overflow: hidden;
  }
}

.btn.focus, .btn:focus, .form-control:focus, button:focus{
  outline: 0;
  box-shadow: none;
}
.transition{
  -webkit-transition: all 0.5s;
  -moz-transition:  all 0.5s;
  -ms-transition:  all 0.5s;
  -o-transition:  all 0.5s;
  transition:  all 0.5s;
}
a, a:hover, .button {
  @extend .transition;
  text-decoration: none;
}
h1 {
  @media (max-width: 767px) {
    font-size: 26px !important;
  }
}


.contentAMP {

  .content{
    background: #f3f3f3;
    @media(min-width: 992px){
      height: unset;
      padding: 0 30px;
    }
    .settingLeft{
      position: relative;
      padding-top: 40px;
      padding-bottom: 10px;
      width: 100%;
      .green_block{
        width: 100%;
        border-left: 4px solid #559F04;
        border-right: 1px solid #559F04;
        border-top: 1px solid #559F04;
        border-bottom: 1px solid #559F04;
        border-radius: 2px;
        background-color: #DDECCD;
        display: flex;
        @media (min-width: 992px){
          max-width: 993px;
        }
        .textShape{
          display: flex;
          justify-content: center;
          align-self: center;
          padding: 15px 20px;
          width: 100%;
          p{
            text-align: left;
            color: #559F04;
            font-size: 14px;
            margin: 0;
            width: 100%;
          }
        }
        .shape{
          padding: 15px;
          float: right;
          display: flex;
          justify-content: center;
          align-items: center;
          i{
            font-size: 21px;
            cursor: pointer;
            color: #559F04;
            @extend .transition;
            &:hover{
              opacity: 0.5;
            }
          }
        }
      }
      .menu{
        text-align: left;
        padding: 40px 0;
        .activeItems{
          border-color: $main-yellow !important;
          p{
            color:$main-yellow !important;
          }

        }
        @media (max-width: 991px) {
          text-align: center;
        }
        .items{
          border-radius: 4px;
          background-color: #fff;
          display: inline-block;
          text-align: center;
          padding: 32px 0;
          box-sizing: border-box;
          max-width: 274px;
          width: 100%;
          margin-right: 30px;
          border: 1px solid #DEDEDE;

          @extend .transition;
          @media (max-width: 991px) {
            margin: 15px 0;
          }
          &:hover{
            border-color: $main-yellow;
          }
          &:hover>p{
            color:$main-yellow;
          }

          img{
            width: 85px;
            padding-bottom: 20px;

          }
          p{
            font-size: 16px;
            font-weight: 500;
            color: #4D6483;
            text-align: center;
            text-transform: capitalize;
            margin-top: 1rem;
            margin-bottom: 0;
            @extend .transition;
          }
        }
      }
    }
  }

}

//modal
.setting{
  .btnAddItem{
    color:$white;
    font-size: 14px;
    background: $main-yellow;
    padding: 9px 27px;
    border-radius: 0;
    float: right;
    clear: both;
    position: relative;
    top:0;
    @extend .transition;
    &:hover{
      opacity: 0.8;
      top:3px;
    }
  }
}

.modalAddItem{
  z-index: 99999;
  .modal-backdrop{
    z-index: 99998;
  }

    .modal-content{
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
    }
    .input_block{
      .form-group{
        position: relative;
        display: flex;
        .btnCopy{
          color:$white;
          background: #0290FF;
          font-size: 12px;
          height: 42px;
          width: 70px;
          display: flex;
          justify-content: center;
          align-items: center;
          border:1px solid #0290FF;
          @extend .transition;
          &:hover{
            opacity: 0.7;
          }
          i{
            margin-right: 5px;
          }
        }
      }
      input.active:focus{
        border-color:#0290FF;
      }
      input.active{
        opacity: 0.5;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        font-size: 13px;
        height: 42px;
        border: 1px solid #737373;
      }
      label.active{
        color: #313131;
        font-size: 15px;
        font-weight: bold;
      }

      .upDate{
        color: $white;
        text-align: center;
        height: 60px;
        font-size: 14px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $main-yellow;
        border-radius: 8px;
        @extend .transition;
        &:hover{
          opacity: 0.8;
        }
      }
    }
    .modal-dialog{
      .modal-body{
        padding: 2rem;
      }
      .logo{
        text-align: center;
        margin-bottom: 30px;
        margin-top: 20px;
        img{
          width: 106px;
        }
      }
      .title{
        margin-bottom: 20px;
        p{
          font-size: 26px;
          text-align: center;
          color: rgba(172, 170, 168, 0.78);
          font-weight: 100;
          text-transform: uppercase;
          span{
            font-weight: bold;
            color:#0290FF;
            margin-left: 15px;
          }
        }
      }
      .barCode{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        img{
          width: 192px;
          height: 192px;
        }
      }
      @media (min-width: 576px){
        margin: 1.75rem auto;
      }

    }

  }

//modal