@font-face {
  font-family: 'SF Pro Display', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: local("SF Pro Display"), url("../fonts/SF-Pro-Display-Regular.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }
@font-face {
  font-family: 'SF Pro Display 700';
  font-style: normal;
  font-weight: 700;
  src: local("SF Pro Display"), url("../fonts/SF-Pro-Display-Bold.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }
body {
  font-family: 'SF Pro Display', sans-serif; }
  body.no-scroll {
    overflow: hidden; }

.btn.focus, .btn:focus, .form-control:focus, button:focus {
  outline: 0;
  box-shadow: none; }

.transition, a, a:hover, .button, .contentAMP .content .settingLeft ul .active, .contentAMP .content .settingLeft ul li, .contentAMP .content .settingLeft .setting .btnAddItem, .contentAMP .firsSection .button1, .contentAMP .pages .copy_block .copy_button .button2, .contentAMP .pages .copy_block .copy_button .button3, .contentAMP .pages .copy_block .dashboard, .contentAMP .pages .rightSection .button5, .contentAMP .pages .end-section .TAE-button, .contentAMP .pages .end-section .TAE-button2 {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

a, a:hover, .button {
  text-decoration: none; }

@media (max-width: 767px) {
  h1 {
    font-size: 26px !important; } }

.contentAMP .content {
  background: #f3f3f3; }
  @media (min-width: 992px) {
    .contentAMP .content {
      height: unset;
      padding: 0 30px; } }
  .contentAMP .content .settingLeft {
    position: relative;
    padding-top: 40px;
    padding-bottom: 10px;
    float: left;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end; }
    .contentAMP .content .settingLeft ul {
      list-style-type: none;
      padding: 0;
      margin: 0; }
      .contentAMP .content .settingLeft ul .active {
        color: #0290ff !important;
        position: relative; }
        .contentAMP .content .settingLeft ul .active:before {
          content: "";
          border-bottom: 1px solid #0290ff;
          position: absolute;
          top: 33px;
          display: block;
          width: 100%;
          left: 0; }
          @media (max-width: 571px) {
            .contentAMP .content .settingLeft ul .active:before {
              display: none; } }
        .contentAMP .content .settingLeft ul .active a {
          color: #0290ff !important; }
        .contentAMP .content .settingLeft ul .active i {
          color: #0290ff !important; }
      .contentAMP .content .settingLeft ul li {
        color: #707A83;
        font-size: 16px;
        cursor: pointer;
        float: left;
        margin-right: 20px;
        position: relative;
        font-weight: 200; }
        .contentAMP .content .settingLeft ul li:hover {
          color: #0290ff !important; }
          .contentAMP .content .settingLeft ul li:hover:before {
            content: "";
            border-bottom: 1px solid #0290ff;
            position: absolute;
            top: 33px;
            display: block;
            width: 100%;
            left: 0; }
            @media (max-width: 406px) {
              .contentAMP .content .settingLeft ul li:hover:before {
                top: 23px; } }
        .contentAMP .content .settingLeft ul li i {
          margin-right: 10px; }
        .contentAMP .content .settingLeft ul li a {
          color: #707A83; }
          .contentAMP .content .settingLeft ul li a:hover {
            color: #0290ff !important; }
    .contentAMP .content .settingLeft .setting .btnAddItem {
      color: #FFF;
      font-size: 14px;
      background: #eba721;
      padding: 9px 27px;
      border-radius: 0;
      float: right;
      clear: both;
      position: relative;
      top: 0; }
      .contentAMP .content .settingLeft .setting .btnAddItem:hover {
        opacity: 0.8;
        top: 3px; }
.contentAMP .copy-addres {
  max-width: 55%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #eba721 !important;
  margin-bottom: 35px; }
  .contentAMP .copy-addres .Token_active {
    color: #eba721 !important;
    background-color: rgba(235, 167, 33, 0.1) !important; }
  .contentAMP .copy-addres .button1 {
    background-color: #EBA721 !important;
    color: #FFF !important; }
    .contentAMP .copy-addres .button1 i {
      font-size: 20px !important; }
.contentAMP .firsSection {
  display: flex;
  border: 1px solid #C9D0D9; }
  .contentAMP .firsSection form {
    width: 100%; }
  .contentAMP .firsSection .Token_active {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-size: 13px;
    height: 42px;
    background-color: #F5F7F8;
    color: #45464B;
    width: 100%;
    float: left;
    border: none; }
  .contentAMP .firsSection .button1 {
    background-color: #E7EFF7;
    color: #4D6483;
    font-size: 12px;
    outline: 0;
    border: none;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    width: 90px; }
    .contentAMP .firsSection .button1:hover {
      opacity: 0.7; }
    .contentAMP .firsSection .button1 i {
      font-size: 20px;
      margin-right: 10px; }
.contentAMP .pages {
  margin-top: 35px;
  margin-bottom: 30px; }
  .contentAMP .pages .leftSection .list-group {
    padding: 0 20px; }
    .contentAMP .pages .leftSection .list-group li {
      padding: 10px 0;
      color: #45464B;
      font-size: 14px;
      font-weight: 300; }
    .contentAMP .pages .leftSection .list-group li:first-child {
      border: none; }
  .contentAMP .pages .last .section {
    padding-bottom: 0 !important; }
  .contentAMP .pages .section {
    border: 1px solid #C9D0D9;
    margin-bottom: 30px;
    padding-bottom: 20px;
    background: #fff; }
    .contentAMP .pages .section .white {
      background-color: #fff !important; }
      .contentAMP .pages .section .white h4 {
        color: #4D6483 !important; }
    .contentAMP .pages .section .title {
      background-color: #fff; }
      .contentAMP .pages .section .title i {
        cursor: pointer;
        font-weight: 100; }
      .contentAMP .pages .section .title h4 {
        color: #4D6483;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.5px;
        margin: 0;
        padding: 15px 0;
        margin: 0 20px; }
  .contentAMP .pages .input_block .transactions {
    display: flex;
    justify-content: center;
    align-items: center; }
    @media (max-width: 575px) {
      .contentAMP .pages .input_block .transactions {
        flex-wrap: wrap; } }
    .contentAMP .pages .input_block .transactions .sec, .contentAMP .pages .input_block .transactions .sec3 {
      width: 100%; }
    .contentAMP .pages .input_block .transactions img.transaction {
      width: 25px;
      margin: 15px;
      margin-top: 0; }
  .contentAMP .pages .input_block input.Token_active {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-size: 13px;
    height: 42px;
    background-color: #fff;
    color: #45464B;
    border-top: none;
    border-right: none;
    border-left: none; }
  .contentAMP .pages .input_block input.Token_active:focus {
    background-color: #0290ff29;
    color: #45464B; }
  .contentAMP .pages .input_block input.active:focus {
    border-color: #eba721; }
  .contentAMP .pages .input_block input.active {
    opacity: 0.5;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-size: 13px;
    height: 42px; }
  .contentAMP .pages .input_block label.active {
    color: #eba721;
    font-size: 16px;
    padding-top: 20px; }
  .contentAMP .pages .copy_block .copy_button .button2 {
    background-color: #E7EFF7;
    color: #4D6483;
    font-size: 13px;
    outline: 0;
    padding: 12px 0;
    display: block;
    margin-bottom: 10px;
    width: 50%;
    text-align: center;
    float: left;
    border: 1px solid #C9D0D9;
    border-right: none; }
    .contentAMP .pages .copy_block .copy_button .button2:hover {
      background-color: #38A9FF; }
  .contentAMP .pages .copy_block .copy_button .button3 {
    border: 1px solid #C9D0D9;
    background-color: #E7EFF7;
    color: #4D6483;
    font-size: 13px;
    outline: 0;
    padding: 12px 0;
    display: block;
    margin-bottom: 10px;
    width: 50%;
    text-align: center;
    float: left; }
    .contentAMP .pages .copy_block .copy_button .button3:hover {
      background-color: #6C6D75; }
  .contentAMP .pages .copy_block .copy_button i {
    margin: 0 5px;
    font-weight: lighter; }
  .contentAMP .pages .copy_block .dashboard {
    font-size: 17px;
    color: #313131;
    position: relative;
    padding: 10px 0; }
    .contentAMP .pages .copy_block .dashboard:hover {
      color: #c3c2c2; }
      .contentAMP .pages .copy_block .dashboard:hover:before {
        content: "";
        border-bottom: 3px solid #EBA721;
        position: absolute;
        top: 40px;
        display: block;
        width: 100%;
        left: 0; }
  .contentAMP .pages .copy_block .dashboard_active:before {
    content: "";
    border-bottom: 3px solid #EBA721;
    position: absolute;
    top: 40px;
    display: block;
    width: 100%;
    left: 0; }
  .contentAMP .pages .barCode {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; }
    .contentAMP .pages .barCode img {
      width: 100%;
      max-width: 200px; }
    .contentAMP .pages .barCode .img2 {
      width: 100%; }
  .contentAMP .pages .rightSection .sectionSecondary {
    padding-bottom: 0 !important;
    border-bottom: none !important; }
    .contentAMP .pages .rightSection .sectionSecondary label.active {
      padding: 0 !important; }
    .contentAMP .pages .rightSection .sectionSecondary .pad-no {
      padding: 0; }
    @media (min-width: 767px) {
      .contentAMP .pages .rightSection .sectionSecondary .border-section {
        border-right: 1px solid #C9D0D9; } }
    .contentAMP .pages .rightSection .sectionSecondary .copy-addres {
      max-width: 55%;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      border-radius: 5px;
      overflow: hidden;
      border: 1px solid #eba721 !important;
      margin-bottom: 35px; }
      .contentAMP .pages .rightSection .sectionSecondary .copy-addres .Token_active {
        color: #eba721 !important;
        background-color: rgba(235, 167, 33, 0.1) !important; }
      .contentAMP .pages .rightSection .sectionSecondary .copy-addres .button1 {
        background-color: #EBA721 !important;
        color: #FFF !important; }
        .contentAMP .pages .rightSection .sectionSecondary .copy-addres .button1 i {
          font-size: 20px !important; }
  .contentAMP .pages .rightSection .lastSection {
    padding: 20px;
    padding-bottom: 0; }
  .contentAMP .pages .rightSection .button5 {
    border-top: 1px solid #C9D0D9;
    background-color: #E7EFF7;
    color: #4D6483;
    font-size: 12px;
    outline: 0;
    display: block;
    margin-bottom: 0;
    height: 42.5px;
    text-align: center;
    float: left;
    width: 100%; }
    .contentAMP .pages .rightSection .button5:hover {
      opacity: 0.7; }
  .contentAMP .pages .rightSection .secondary {
    padding: 27px 20px; }
    .contentAMP .pages .rightSection .secondary .form-check {
      margin: 25px 0; }
      .contentAMP .pages .rightSection .secondary .form-check label {
        color: #45464B;
        font-size: 14px; }
    .contentAMP .pages .rightSection .secondary .shtrixAdress {
      color: #191919;
      font-size: 14px;
      text-align: center;
      margin: 0; }
  .contentAMP .pages .end-section .section {
    margin-bottom: 0 !important; }
  .contentAMP .pages .end-section .TAE {
    background-color: rgba(77, 100, 131, 0.1) !important;
    border: 1px solid #C9D0D9 !important; }
  .contentAMP .pages .end-section .TAE-button {
    color: #fff;
    background-color: #0290FF;
    width: 100%;
    padding: 8px 0;
    font-size: 14px;
    margin-bottom: 20px; }
    .contentAMP .pages .end-section .TAE-button:hover {
      opacity: .7; }
  .contentAMP .pages .end-section .TAE-button2 {
    color: #fff;
    background-color: #eba721;
    width: 100%;
    padding: 8px 0;
    font-size: 14px;
    margin-bottom: 20px; }
    .contentAMP .pages .end-section .TAE-button2:hover {
      opacity: .7; }

/*# sourceMappingURL=s4fe-Buy-S4fe.css.map */
